---
interface Props {
  name: string;
  value: string;
  label?: string;
  min?: string;
  step?: string;
  hideName?: boolean;
}

let { name, value, label, min, step, hideName } = Astro.props;

if (!hideName) label = label ? `${name} (${label})` : undefined;
---

<div>
  <label for={name} class="block mb-2 text-sm font-medium text-gray-900">
    {label || name}:
  </label>
  <input
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    type="number"
    value={value}
    min={min || "0.00001"}
    step={step || min || ".00001"}
    name={name}
    id={name}
  />
</div>
