---
import Section from "@components/Section.astro";

interface Props {
  title: string;
  originalLink: string;
  diagram?: string;
  description?: string;
}

const { title, description, diagram, originalLink } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description || "Astro description"} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="min-w-xs max-w-[90%] mx-auto mb-4 lg:max-w-[1000px]">
      <h1 class="text-4xl text-center font-bold my-4">{title}</h1>
      <a href="/">🏠 regresar</a>
      <div class="grid">
        {
          diagram && (
            <Section title="Diagrama">
              <div class="flex justify-center">
                <img class="max-w-[80%]" src={diagram} alt={title} />
              </div>
            </Section>
          )
        }
        <div class="lg:grid lg:grid-cols-2 lg:gap-4">
          <Section title="Descripción">
            <slot name="description" />
          </Section>
          <Section title="Ejemplos">
            <slot name="examples" />
          </Section>
          <Section title="Variables">
            <slot name="variables" />
          </Section>
          <Section title="Ecuaciones">
            <slot name="ecuations" />
          </Section>
        </div>
        <Section title="Simulación">
          <p>
            El gráfico muestra los cambios de Q durante un período de tiempo.
          </p>
        </Section>
        <slot name="graph" />
        <Section title="Experimentos 'Qué pasaría si'">
          <slot name="experiments" />
        </Section>
      </div>
    </main>
    <footer
      class="min-w-[100%] mt-10 bg-blue-900 py-4 grid place-content-center text-white"
    >
      <a href={originalLink} target="_blank">🔗 Página original</a>
    </footer>
  </body>
</html>
